{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            <!-- Email Input -->
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    type="text"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    class="form-control {% if error and request.method == 'POST' %}is-invalid{% endif %}">
            </div>
            <!-- Password Input -->
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    class="form-control {% if error and request.method == 'POST' %}is-invalid{% endif %}">
            </div>
            <!-- Error Message -->
            {% if error and request.method == 'POST' %}
                <div class="error-message">Invalid email or password</div>
            {% endif %}
            <!-- Buttons -->
            <div class="buttons">
                <button type="submit" class="btn button_logoPurple">Login</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'forgot_password' %}';">Forgot Password</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'register' %}';">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock %}
