{% extends "base.html" %}

{% block title %}Create ToDo{% endblock %}

{% block content %}
   <div class="form-container">
       <h2>Create ToDo</h2>
       <form method="POST">
           {% csrf_token %}
           <!-- Title Field -->
           <div class="mb-3">
               <label for="id_title" class="form-label">Title</label>
               {{ form.title }}
           </div>

           <!-- Description Field -->
           <div class="mb-3">
               <label for="id_description" class="form-label">Description</label>
               {{ form.description }}
           </div>

           <!-- Due Date Field -->
           <div class="mb-3">
               <label for="id_deadline" class="form-label">Due Date</label>
               <input type="date" id="id_deadline" name="deadline" class="form-control"
                      value="{{ form.deadline.value|default:'' }}" min="{{ today_date }}"
                      {% if form.deadline.errors %} aria-invalid="true" {% endif %}>
               {% if form.deadline.errors %}
               <div class="error-message">
                   {% for error in form.deadline.errors %}
                       <p>{{ error }}</p>
                   {% endfor %}
               </div>
               {% endif %}
           </div>

           <!-- Category Field -->
           <div class="mb-3">
               <label for="id_state" class="form-label">Category</label>
               {{ form.state }}
           </div>

           <!-- Team Field -->
           <div class="mb-3">
               <label for="id_team" class="form-label">Select a Team</label>
               <select name="team" id="id_team" class="form-control">
                   <option value="" selected>None</option>
                   {% for team in teams %}
                       <option value="{{ team.id }}" data-members='[
                           {% for member in team.team_members.all %}
                               {"id": "{{ member.user.id }}", "email": "{{ member.user.email }}"}
                               {% if not forloop.last %},{% endif %}
                           {% endfor %}
                       ]'>{{ team.name }}</option>
                   {% endfor %}
               </select>
           </div>

           <!-- Assigned to Field -->
           <div class="mb-3">
               <label for="id_assigned_to" class="form-label">Assigned To</label>
               <select name="assigned_to" id="id_assigned_to" class="form-control" required>
                   <option value="{{ request.user.id }}" selected>{{ request.user.username }}</option>
               </select>
           </div>

           <!-- Action Buttons -->
           <div class="d-flex justify-content-end">
               <a href="/dashboard" class="btn btn-danger me-3">Cancel</a>
               <button type="submit" class="btn button_logoPurple me-3">Save</button>
           </div>
       </form>
   </div>
{% endblock %}

