<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
</head>
<body>
    <h1>Teams List</h1>
    <ul>
        {% for team in teams %}
            <li>
                <a href="{% url 'team_details' team.id %}">{{ team.name }}</a>
            </li>
        {% empty %}
            <li>No teams available. <a href="{% url 'create_team' %}">Create a new team</a>.</li>
        {% endfor %}
    </ul>
</body>
</html>